
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chris</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/Moody_Christopher.css">
</head>

<body>
        <header>
                <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li style="float: left;"><a href="#">A03 Chris Moody</a></li>
                                <span style="float: right;">
                                <li><a href="home">Home</a></li>
                                <li><a href="application">Application</a></li>
                                <li><a href="contact">Contact</a></li>
                                <li><a href="guestbook">Guestbook</a></li>
                            </span>
                            </ul>
                        </div>
                    </nav>
                </header>
        
    <h1>
        Christopher's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook:</a>
    </h1>
</body>
