/* ****************  MAIN CSS CLASS' ***************** */ 

.classStyle1{
	color: darkblue;
}
.classStyle2{
	padding-left: 20px;
}
.img-circle {
    border-radius: 50%;
}
.parallax { 
    background-image: url("andreas-kind-338509.jpg");
    height: 100%;
    width: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.greeting{
text-align: center;
color: #fff;
padding-top: 15%;
font-size: 400%;
font-family: Sans-serif;
text-shadow: 2px 2px 5px #000000;
}
.leftAlign{
    text-align: left;
    width: 100%;
}
.style1{
    padding-bottom: 10%;
}

.socialMedia{
    margin-top: 10%;
    text-align: left;
    width: 100%;
}
.socialMedia img{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* ****************  MAIN CSS ID's ***************** */ 

#style1{
	font-size: 30pt;
}





/* ****************  MAIN CSS TAG IDENTIFIERS ***************** */ 
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
	background-color: #D3D3D3;
}
main{
    margin: 10%;
    margin-top:0%;
    padding-top: 10%;
    width: 75%;
    text-align: center;
}
h2{
    font-family: sans-serif, Arial, Helvetica;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 2%;
}
h1{
	font-family: sans-serif, Arial, Helvetica;
	letter-spacing: 3px;
	text-transform: uppercase;
}
nav{
	font-family: sans-serif;
}
.navbar-default .navbar-nav li a{
    color: #ffffff;
}
.navbar-default .navbar-nav li a:hover{
    background-color: #C38B48;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #C38B48;
}

section{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 1%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #C38B48;
    color: white;
    padding: 14px 20px;
    margin: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14pt;
}
input[type=submit]:hover{
    background-color: lightgrey;
    color: #C38B48;
    border-color: #C38B48;
    border-style: solid;
    border-width: 2px;
}
